* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karma", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
  background-color: white;
  margin: 0;
  min-width: 563px;
}
.header {
  display: flex;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  width: 100%;
  z-index: 1;
  margin: auto;
  font-size: 24px;
  align-self: center;
  max-width: 1932px;
  padding: 16px 25px;
}

.food-image {
  padding: 24px 8px;
  float: left;
}
@media (min-width: 601px) {
  .food-image {
    width: 17%;
  }
}
img {
  width: 100%;
  vertical-align: middle;
}
h3 {
  font-weight: 400;
  margin: 11px 0;
  font-size: 23px;
  text-align: center;
  color: rgb(46, 46, 46);
  /* width: 100%; */
  /* padding-left: 2px; */
}

p {
  color: #000;
  font-weight: 200;
  width: 100%;
  padding-left: 0%;

  padding-bottom: 20px;
  text-align: center;
  font-size: 17px;
}

.iamge-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
}
@media (max-width: 601px) {
  .iamge-container {
    width: 100%;
    flex-direction: column;
  }
}
.elector-div {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.page-num {
  display: inline-block;
  width: auto;
  overflow: hidden;
}
.number-selector {
  white-space: normal;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  vertical-align: "middle";
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.one-button {
  color: #fff;
  background-color: #000;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  white-space: normal;
  text-align: center;
  cursor: pointer;
}
.selector-div :hover {
  color: black;
  overflow: hidden;
  text-align: center;
}

.selector-div {
  text-align: center;
}

.chef-image {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  padding: 0.01em 16px;
}
.image-class {
  display: block;
  margin: auto;
  width: 800px;
  height: 533px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.chef-image h3 {
  font-family: "karma", sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-align: center;
}
.prg-div {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.prg-div h4 {
  font-family: "karma", sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}
.prg-div h6 {
  font-family: "karma", sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 16px;
}
.prg-div p {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 18%;
  width: 79%;
  color: #000;
  font-size: large;
}

.end-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  /* padding: 0 8px; */
  flex-direction: row;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
}

.footer-div-1 {
  padding: 0 8px;
}
@media (min-width: 601px) {
  .footer-div-1 {
    width: 26.33333%;
  }
}
.footer-div-1 h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  max-width: 463px;
  width: 20%;
}
.footer-div-2 {
  padding: 0 8px;
}

@media (min-width: 601px) {
  .footer-div-2 {
    width: 23.33333%;
  }
}
.footer-div-2 h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-align: inherit;
}
.ul-list-divP {
  list-style: none;
  padding: 0;
  margin: 0;
}
.image-li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
}
.img-box {
  width: 50px;
  margin-right: 16px;
  vertical-align: middle;
  float: left;
}
.span-class {
  font-size: 18px;
  list-style: none;
}
.second-main-food-div {
  padding: 0 8px;
}

@media (min-width: 601px) {
  .second-main-food-div {
    width: 33.33333%;
    font-family: sans-serif;
  }
}
.second-main-food-div h3 {
  display: flex;
  font-family: "karma", sans-serif;
  font-weight: 100;
  /* padding: 17px; */
  font-size: 24px;
  color: #4a4a4a;
  margin: 13px 0;
}

.food-place {
  color: white;
  background-color: black;
  margin-bottom: 16px;
  font-size: 12px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  width: fit-content;
}

.food-span {
  color: white;
  background-color: rgb(105, 105, 105);
  margin-bottom: 16px;
  font-size: 12px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  width: fit-content;
}

.food-prg {
  flex-wrap: wrap;
  padding-left: 12px;
}
.present-div {
  color: black;
  font-weight: 200;
  width: 75%;
  /* padding-left: 33%; */
  display: block;
  padding-bottom: 20px;
  text-align: start;
  font-size: 15px;
  /* align-items: flex-start; */
  max-width: 512px;
}

.link-class {
  color: rgb(95, 95, 95);
  font-weight: 200;
  /* width: 100%; */
  /* padding-left: 33%; */
  /* display: flex; */
  padding-bottom: 20px;
  text-align: start;
  font-size: 15px;
  /* align-items: flex-start; */
  max-width: 396px;
}
/* .main-food-div {
  margin: 16px;
} */
.second-main-food-div h3 {
  font-weight: 100;
  width: 100%;

  font-size: 23px;
  color: #4a4a4a;
}
@media (min-width: 601px) {
  .main-food-div {
    width: 32.33333%;
  }
}

@media (max-width: 601px) {
  .end-footer {
    width: 100%;
    flex-direction: column;
    display: flex;
  }
}

@media (min-width: 601px) {
  .food-prg {
    width: 66%;
  }
}

@media (min-width: 601px) {
  .header {
    width: 100%;
    display: flex;
  }
}
@media (min-width: 601px) {
  html {
    display: grid;
    width: 100%;
  }
}

.nav-bar {
  display: block;
  z-index: 2;
  width: 40%;
  min-width: 300px;
  font-size: 24px;
  animation: animateleft 0.4s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: 0;
  height: 100%;
  background-color: #fff;
  position: fixed;
  overflow: auto;
}
a {
  padding: 20px;
  width: 100%;
  display: block;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  text-decoration: none;
  color: #4a4a4a;
}
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-25 18:26:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
